# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
.env

# Docker
*.env

#Lambda
lambda/env_config.json
lambda/package/
lambda/lambda_build/
lambda/lambda.zip
lambda/lambda_fixed.zip
lambda/payload.json
lambda/response.json